.field .label{
  color: white;
}
.check_id{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
}
.detail_pw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.detail_pw_help{
  font-size: 10px;
}

.error_message{
  color: red;
  text-align: center;
  margin: 20px 0px;
}
