.error_write_container{
  width: 500px;
  background-color: rgb(225, 225, 225);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.field{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 60px;
}