body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(25, 31, 48);
  overflow-y: scroll;
}
body::-webkit-scrollbar{
  z-index: 3;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.banner .logo_img{
  cursor: pointer;
  width: 300px;
}
.alert_box{
  display: none;
  width: 100%;
  z-index: 2;
}
.alert_live{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alert_box div{
  font-weight: 600;
  font-size: 16px;
  margin: 10px 0px;
}
.alert_warning{
  background-color: #FF9800;
  color: rgb(25, 31, 48);
}
.alert_danger{
  background-color: #F44336;
  color: rgb(216, 224, 245);
}
.alert_good{
  background-color: #04AA6D;
  color: rgb(25, 31, 48);
}
.paint_green{
  color: rgb(0, 154, 13);
}
.paint_red{
  color: red;
}