<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Details | Error_note_📑</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/univ.css" />
    <link rel="stylesheet" href="../static/error_detail/error_detail.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/error_detail/error_detail.js" defer></script>
  </head>
  <body>
    <div class="banner">
      <img
        class="logo_img"
        src="../static/images/error_note_logo.png"
        alt="logo"
      />
    </div>
    <div class="error_detail_box"></div>
    <button class="button is-link page_btn">목록보기</button>
  </body>
</html>
