<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>개발 오답노트</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../static/univ.css" />
    <link rel="stylesheet" href="../static/write/write.css" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/write/write.js" defer></script>
  </head>
  <body>
    <div class="max_width">
      <div class="banner">
        <img
          class="logo_img"
          src="../static/images/error_note_logo.png"
          alt="logo"
        />
      </div>
      <div class="error_write_box">
        <div class="field">
          <label class="label">오류메세지</label>
          <div class="control">
            <input
              id="message"
              class="input"
              type="text"
              placeholder="내용을 입력해주세요"
            />
          </div>
        </div>

        <div class="field">
          <label class="label">사용언어</label>
          <div class="control">
            <select>
              <option>Python</option>
              <option>Java</option>
              <option>JavaScript</option>
              <option>React</option>
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">오류 상황</label>
          <div class="control">
            <textarea
              id="state"
              class="textarea"
              placeholder="내용을 입력해주세요"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">오류 해결 방법</label>
          <div class="control">
            <textarea
              id="solution"
              class="textarea"
              placeholder="내용을 입력해주세요"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">관련 개념</label>
          <div class="control">
            <textarea
              id="note"
              class="textarea"
              placeholder="내용을 입력해주세요"
            ></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">참고 링크</label>
          <div class="control">
            <textarea
              id="link"
              class="textarea"
              placeholder="참고한 자료를 입력해주세요"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button onclick="errors_post()" class="button is-link page_btn">
          작성하기
        </button>
      </div>
    </div>
  </body>
</html>
