.btn_container{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
.btn_container .button{
  font-size: 12px;
}
.clicked_btn{
  border: 1rem solid rgb(209, 91, 0);;
}



.box{
  width: 500px;
}
.content_title{
  font-size: 18px;
  margin-bottom: 14px;
}
.content_lang{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.content_solution{
  font-size: 14px;
}
.page_btn{
  display: flex;
  width: 500px;
  margin: 20px 0px;
}