.box{
  width: 500px;
}
.content_title{
  font-size: 18px;
  margin-bottom: 14px;
}
.content_lang{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.content_solution{
  font-size: 14px;
}
.page_btn{
  display: flex;
  width: 500px;
  margin: 20px 0px;
}