.tag_btn_container{
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
.tag_btn{
  min-width: 70px;
  height: 40px;
  border-radius: 0.5rem;
  outline: none;
  border: 0px;
  font-size: var(--font-small);
  color: var(--color-background);
  font-weight: var(--weight-bold);
  opacity: 0.4;
  cursor: pointer;
}
.is-all{
  background-color: rgba(204, 24, 24);
}
.is-python{
  background-color: #3571A3;
}
.is-java{
  background-color: #F89916;
}
.is-javascript{
  background-color: #F7E017;
}
.is-react{
  background-color: #60DCFA;
}
.is-mine{
  background-color: #89fa60;
}
.selected{
  opacity: 1;
}


.box{
  width: 500px;
  margin: 20px 0px;
  cursor: pointer;
}
.section_title{
  margin-bottom: 14px;
}
.section_title_big{
  font-size: var(--font-big);
  font-weight: var(--weight-bold);
}
.section_title_small{
  font-size: var(--font-small)
}
.section_lang{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.section_solution{
  font-size: var(--font-standard);
}

.empty_box{
  height: 360px;
  border: 2px dashed;
  background-color: var(--color-background-light);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}